<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tailwind css cdn -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- tailwind css cdn -->
    <!-- font-awsome icons -->
    <script src="https://kit.fontawesome.com/307192de7c.js" crossorigin="anonymous"></script>
    <!-- font-awsome icons -->
    <title>Weather App</title>
    <style>
        section{
            min-height: 100vh;
            padding-top: 180px;
        }
        #search-box button{
            background: #55C2C3;
            transition: all 0.35s ease-in-out;
        }
        #search-box button:hover{
            background: #3b9899;
        }
    </style>
</head>
<body>
    
    <header class="z-50 w-full py-5 px-3 md:py-8 md:px-4 fixed top-0 left-0 flex jusify-start items-center" style="background: #55C2C3;">
        <img src="https://th.bing.com/th/id/OIP.CUtSYciqwgRRhSBUm2g3qgAAAA?pid=ImgDet&rs=1" alt="" class="w-12 rounded-full">
        <span class="font-bold text-xl md:text-4xl capitalize ml-2">Check the weather</span>
    </header>

    <section class="flex flex-col min-h-screen my-auto items-center px-5 pb-10 md:px-6" style="background: #0C243C;">

        <div class="w-full py-8" id="search-box">
            <form action="" method="get" class="flex flex-col sm:flex-row justify-center items-center w-full">
                <input type="text" name="city" placeholder="Search with city name" class="rounded-lg py-3 px-2 md:py-4 md:px-3 outline-none w-full md:w-1/2 sm:w-2/3" value="{{given_city}}">
                <button type="submit" class="rounded-lg font-medium sm:text-base py-3 md:py-4 sm:ml-3 mt-4 sm:mt-0 px-5 w-full sm:w-44 text-sm uppercase text-white"><i class="fa fa-search mr-1"></i> Search </button>
            </form>
        </div>

        <div class="rounded-lg shadow-lg mx-2.5 py-5 px-7 md:py-8 md:px-10 bg-white mt-16" id="weather-box">
        {% if message == "not searched" %}

                <div class="flex justify-between items-center">
                    <img src="https://th.bing.com/th/id/OIP.CUtSYciqwgRRhSBUm2g3qgAAAA?pid=ImgDet&rs=1" alt="" class="w-32 rounded-full">
                    <div class="ml-8">
                        <h3 class="text-2xl font-bold capitalize">Weather data will appear here</h3>
                    </div>
                </div>
            
        {% elif message == "city not found"  %}

                <div class="flex justify-between items-center">
                    <img src="https://th.bing.com/th/id/OIP.CUtSYciqwgRRhSBUm2g3qgAAAA?pid=ImgDet&rs=1" alt="" class="w-32 rounded-full">
                    <div class="ml-8">
                        <h3 class="text-2xl font-bold capitalize text-red-700">ERROR : City not found</h3>
                    </div>
                </div>

        {% else %}
           
                <div class="flex justify-between items-center">
                    <img src="http://openweathermap.org/img/wn/{{icon}}.png" alt="" class="w-32 rounded-full">
                    <div class="ml-8">
                        <h3 class="text-xl md:text-2xl font-bold uppercase">{{city}} - {{weather}}</h3>
                        <div class="text-lg md:text-xl my-2 font-medium">{{temp_cel}} °C / {{temp_far}} °F</div>
                        <div class="text-sm font-light md:text-base my-2">Feels like {{feels_like_cel}} °C</div>
                        <div class="font-light md:text-base my-2">
                            <span class="mr-1.5"><i class="fa fa-arrow-up"></i> {{temp_max_cel}} °C</span>
                            <span><i class="fa fa-arrow-down"></i> {{temp_min_cel}} °C</span>
                        </div>
                        <div class="font-light text-xl">Weather is {{description}}</div>
                    </div>
                </div>
                <div class="w-full flex flex-col sm:flex-row sm:justify-between items-center text-sm sm:text-base mt-7 sm:mt-5">
                    <div class="flex w-full justify-between items-center sm:block sm:w-fit">
                        <div class="uppercase font-light">Wind</div>
                        <div class="font-bold">{{wind_speed}} m/s</div>
                    </div>
                    <div class="sm:mx-1.5 w-full flex justify-between items-center mt-1.5 sm:block sm:w-fit">
                        <div class="uppercase font-light">Visibility</div>
                        <div class="font-bold">{{visibility_km}} km</div>
                    </div>
                    <div class="sm:mx-1.5 w-full flex justify-between items-center mt-1.5 sm:block sm:w-fit">
                        <div class="uppercase font-light">humidity</div>
                        <div class="font-bold">{{humidity}} %</div>
                    </div>
                    <div class="flex w-full justify-between items-center sm:block sm:w-fit">
                        <div class="uppercase font-light">Pressure</div>
                        <div class="font-bold">{{pressure}} mb</div>
                    </div>

                </div>

        {% endif %}
        </div>

   </section>

</body>
</html>